<template>
    <div class="container-fluid">
        <div class="row d-block d-md-none">

            <!--    Header start-->

            <div class="col-12">
                <nav class="navbar">
                    <div class="container-fluid">
                        <label class="logo">Blogim.uz</label>
                        <div class="ul d-flex navbar-icons ">
                            <li><a href="../07.Qidirish/index.html"><i
                                class="bi bi-search mx-2 fs-2 text-white me-sm-3"></i></a></li>
                            <li><a href="../bildirishnomalar/index.html"><i
                                class="bi bi-bell mx-2 mx-2 fs-2 text-white me-sm-3"></i></a></li>
                            <li><a href="../10.Xabar/index.html"><i
                                class="bi bi-send icon-send mx-2 mx-2 fs-2 text-white me-sm-3"></i></a></li>
                        </div>
                    </div>
                </nav>
            </div>

            <!--    Header end-->

            <!--    Story start-->

            <div class="col-12">
                <div class="story-container">
                    <div class="content">
                        <div class="img-container" id="img-container">
                            <a href="#">
                                <img src="../assets/you.png" alt="">
                            </a>
                        </div>
                        <div class="text-conteiner">
                            You
                        </div>
                    </div>
                    <div class="content">
                        <div class="img-container">
                            <a href="../06.Story/index.html">
                                <img src="../assets/Circle.png" alt="">
                            </a>
                        </div>
                        <div class="text-conteiner">
                            John D.
                        </div>
                    </div>
                    <div class="content">
                        <div class="img-container">
                            <img src="../assets/Circle-1.png" alt="">
                        </div>
                        <div class="text-conteiner">
                            Julia L.
                        </div>
                    </div>
                    <div class="content">
                        <div class="img-container">
                            <img src="../assets/Circle-2.png" alt="">
                        </div>
                        <div class="text-conteiner">
                            Brian R.
                        </div>
                    </div>
                    <div class="content">
                        <div class="img-container">
                            <img src="../assets/Circle-3.png" alt="">
                        </div>
                        <div class="text-conteiner">
                            Anna D.
                        </div>
                    </div>
                    <div class="content">
                        <div class="img-container">
                            <img src="../assets/2SvHcf0c1pU.png" alt="">
                        </div>
                        <div class="text-conteiner">
                            John D.
                        </div>
                    </div>
                    <div class="content">
                        <div class="img-container">
                            <img src="../assets/T5KPTbbK-_E.png" alt="">
                        </div>
                        <div class="text-conteiner">
                            Julia L.
                        </div>
                    </div>
                    <div class="content">
                        <div class="img-container">
                            <img src="../assets/dt3VbBT8NLk.png" alt="">
                        </div>
                        <div class="text-conteiner">
                            Brian R.
                        </div>
                    </div>
                    <div class="content">
                        <div class="img-container">
                            <img src="../assets/VGWrEuP0Fmw.png" alt="">
                        </div>
                        <div class="text-conteiner">
                            Brian R.
                        </div>
                    </div>
                </div>
            </div>

            <!--        Story end-->

            <!--        Content start-->

            <div class="row mt-4 mx-auto">
                <div class="col-12 col-sm-6 mb-2">
                    <div class="">
                        <div class="gap-3 d-flex mx-3">
                            <img src="../assets/Photo.png" class="img-user" width="50" height="50" alt="">
                            <div class="user-name text-white ">
                                <label>David Morel</label>
                                <p>Grenoble</p>
                            </div>
                        </div>
                        <div class="three-dots justify-content-end d-flex mx-3">
                            <a href=""><i class="bi bi-three-dots dots"></i></a>
                        </div>
                        <div class="img-content">
                            <img src="../assets/Image.png" class="img-fluid" width="500" alt="...">
                        </div>
                        <div class="col img-footer">
                            <div class="gap-3 mb-1 d-flex">
                                <div class="follow-icon mt-1 ms-2">
                                    <a class="fs-4 mt-1 text-white text-decoration-none" href="#">
                                        <i class="bi bi-heart ms-2"></i>
                                        <label class="fs-6 ms-1">5,2k</label>
                                    </a>
                                </div>
                                <a class="fs-4 mt-1 text-white text-decoration-none" href="../comment/index.html">
                                    <i class="bi bi-chat"></i>
                                    <label class="fs-6 ms-1">140</label>
                                </a>
                                <a class="fs-4 mt-1 text-white text-decoration-none" href="#">
                                    <i class="bi bi-send"></i>
                                </a>
                            </div>
                            <div class="content-icons fs-4 justify-content-end d-flex">
                                <a href="#">
                                    <i class="bi bi-bookmark me-2 text-white"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 mb-2">
                    <div class="">
                        <div class="gap-3 d-flex mx-3">
                            <img src="../assets/Photo(1).png" class="img-user" width="50" height="50" alt="">
                            <div class="user-name text-white ">
                                <label>David Morel</label>
                                <p>Grenoble</p>
                            </div>
                        </div>
                        <div class="three-dots justify-content-end d-flex mx-3">
                            <a href=""><i class="bi bi-three-dots dots"></i></a>
                        </div>
                        <div class="img-content">
                            <img src="../assets/welcome2.png" class="img-fluid" width="500" alt="...">
                        </div>
                        <div class="col img-footer">
                            <div class="gap-3 mb-1 d-flex">
                                <div class="follow-icon mt-1 ms-2">
                                    <a class="fs-4 mt-1 text-white text-decoration-none" href="#">
                                        <i class="bi bi-heart ms-2"></i>
                                        <label class="fs-6 ms-1">5,2k</label>
                                    </a>
                                </div>
                                <a class="fs-4 mt-1 text-white text-decoration-none" href="../comment/index.html">
                                    <i class="bi bi-chat"></i>
                                    <label class="fs-6 ms-1">140</label>
                                </a>
                                <a class="fs-4 mt-1 text-white text-decoration-none" href="#">
                                    <i class="bi bi-send"></i>
                                </a>
                            </div>
                            <div class="content-icons fs-4 justify-content-end d-flex">
                                <a href="#">
                                    <i class="bi bi-bookmark me-2 text-white"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 mb-2">
                    <div class="">
                        <div class="gap-3 d-flex mx-3">
                            <img src="../assets/Photo(1).png" class="img-user " width="50" height="50" alt="">
                            <div class="user-name text-white ">
                                <label>David Morel</label>
                                <p>Grenoble</p>
                            </div>
                        </div>
                        <div class="three-dots justify-content-end d-flex mx-3">
                            <a href=""><i class="bi bi-three-dots dots"></i></a>
                        </div>
                        <div class="img-content">
                            <img src="../assets/welcome2.png" class="img-fluid" width="500" alt="...">
                        </div>
                        <div class="col img-footer">
                            <div class="gap-3 mb-1 d-flex">
                                <div class="follow-icon mt-1 ms-2">
                                    <a class="fs-4 mt-1 text-white text-decoration-none" href="#">
                                        <i class="bi bi-heart ms-2"></i>
                                        <label class="fs-6 ms-1">5,2k</label>
                                    </a>
                                </div>
                                <a class="fs-4 mt-1 text-white text-decoration-none" href="../comment/index.html">
                                    <i class="bi bi-chat"></i>
                                    <label class="fs-6 ms-1">140</label>
                                </a>
                                <a class="fs-4 mt-1 text-white text-decoration-none" href="#">
                                    <i class="bi bi-send"></i>
                                </a>
                            </div>
                            <div class="content-icons fs-4 justify-content-end d-flex">
                                <a href="#">
                                    <i class="bi bi-bookmark me-2 text-white"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--        Content end-->

            <!--        Footer start-->

            <div class="fixed-bottom">
                <div class="row" id="footer">

                    <div class="col-2 mx-auto footer-col">
                        <a href="../menu/index.html">
                            <i class="bi bi-house house text-white"></i>
                        </a>
                    </div>
                    <div class="col-2 mx-auto footer-col ">
                        <a href="../videolar/index.html">
                            <i class="bi bi-play-btn play text-white"></i>
                        </a>
                    </div>

                    <div class="col-4 footer-col" id="pluss">
                        <a href="">
                            <img src="../assets/Publish.svg" class="" width="100" height="100" alt="">
                        </a>
                    </div>
                    <div class="col-2 mx-auto footer-col">
                        <a href="">
                            <i class="bi bi-bag bag text-white"></i>
                        </a>
                    </div>
                    <div class="col-2 mx-auto footer-col">
                        <a href="../09.Aaccount/index.html">
                            <i class="bi bi-person-circle person text-white"></i>
                        </a>
                    </div>
                </div>
            </div>

            <!--   Footer end-->

        </div>

        <!--    v-else start-->

        <!--        Header start-->

        <div class="row d-none d-md-block">
            <nav class="navbar">
                <label class="col-4 col-lg-3 logo ps-5">Blogim.uz</label>
                <form class="col-4 col-lg-5 d-flex form-control-search" role="search">
                    <a class="navbar-search text-decoration-none" href="../07.Qidirish/index.html">
                        <input class="form-control" type="search" placeholder="Qidirish" aria-label="Search">
                    </a>
                </form>
                <div class="col-2 col-lg-2 ms-lg-2 ul d-flex navbar-icons">
                    <li><a href=""><i class="bi bi-gear mx-2 fs-2 text-white"></i></a></li>
                    <li><a href=""><i class="bi bi-camera mx-2 fs-2 text-white"></i></a></li>
                    <li><a href="../bildirishnomalar/index.html"><i class="bi bi-bell mx-2 fs-2 text-white"></i></a></li>
                </div>
                <form class=" addStory d-flex ">
                    <div class="col-1 btn-group pe-5">
                                <span type="button" data-bs-toggle="dropdown" class="span-img" aria-expanded="false">
                                    <img src="../assets/Group-1.png" alt="Avatar" class="avatar"/>
                                </span>
                        <ul class="dropdown-menu dropdown-menu-end mt-3 ">
                            <li>
                                <a class="dropdown-item text-white me-4 fs-5" href="../Rasm-qo'yish/index.html">
                                    <i class="bi bi-image me-2 fs-4"></i> Rasm qo’yish</a>
                            </li>
                            <li>
                                <a class="dropdown-item text-white me-4 fs-5" href="../Video-qo'yish/index.html"
                                ><i class="bi bi-film me-2 fs-4"></i>Video qo’yish</a>
                            </li>
                            <li>
                                <a class="dropdown-item text-white me-4 fs-5" href="../05.Story-qo'shish/index.html"
                                ><i class="bi bi-bookmark me-2 fs-4"></i>Story qo’yish</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </nav>

            <!--    Header end-->

            <div class="row">

                <!--    Profil start-->

                <div class="col-12 col-md-4 col-lg-3 col-xl-3 col-xxl-2 mt-3">
                    <div class="profil-img mx-auto">
                        <img src="../assets/img-profil.png" class="ms-1 mt-1" alt="" width="165" height="165">
                        <i class="bi bi-circle-fill user-online fs-4   d-flex"></i>
                    </div>
                    <div class="name-profil text-white fs-4 mt-4 mx-auto">
                        <label>Shaxboz Eronov</label>
                        <p class="fs-6">@ShakhbozDev</p>
                    </div>
                    <ul class="follow d-flex mt-4">
                        <li class="pt-1 mx-auto ">
                            <a class="follow-count text-white text-decoration-none" href="#">
                                <i class="bi bi-person-fill me-1 fs-4"></i>
                                <label>121K</label>
                            </a>
                        </li>
                        <li class="pt-1 mb-5 mx-auto">
                            <a class="follow-count text-white text-decoration-none" href="#">
                                <i class="bi bi-heart-fill me-1 fs-4 text-danger"></i>
                                <label>900K</label>
                            </a>
                        </li>
                    </ul>
                    <ul class="menu mt-5">
                        <li class="menu-li pt-1">
                            <i class="bi bi-house-door mx-3 fs-2 text-white"></i>
                            <a class="menu-route ms-1 fs-4 text-white" href="../menu/index.html">
                                <label>Bosh sahifa</label>
                            </a>
                        </li>
                        <li class="menu-list mt-3">
                            <i class="bi bi-compass mx-3 fs-2 text-white"></i>
                            <a class="menu-route ms-1 fs-4 text-white" href="../yoqtirishlar/index.html">
                                <label>Yoqtirishlar</label>
                            </a>
                        </li>
                        <li class="menu-list mt-3">
                            <i class="bi bi-film mx-3 fs-2 text-white"></i>
                            <a class="menu-route ms-1 fs-4 text-white" href="../videolar/index.html">
                                <label>Videolar</label>
                            </a>
                        </li>
                        <li class="menu-list mt-3">
                            <i class="bi bi-envelope mx-3 fs-2 text-white"></i>
                            <a class="menu-route ms-1 fs-4 text-white" href="../10.Xabar/index.html">
                                <label>Xabarlar</label>
                            </a>
                        </li>
                    </ul>
                </div>

                <!--        Profil end-->

                <div class="col-12 col-md-8 col-lg-9 col-xxl-10 story">

                    <!--        Story start-->

                    <div class="blogim-story fs-4 mb-2 text-white">
                        <span class=" ">Blogim Story</span>
                    </div>
                    <div class="story-container">
                        <div class="content">
                            <div class="img-container">
                                <a href="../06.Story/index.html">
                                    <img src="../assets/T5KPTbbK-_E.png" alt="">
                                </a>
                            </div>
                            <div class="text-conteiner">
                                @user_name
                            </div>
                        </div>
                        <div class="content">
                            <div class="img-container">
                                <a href="">
                                    <img src="../assets/dt3VbBT8NLk.png" alt="">
                                </a>
                            </div>
                            <div class="text-conteiner">
                                @user_name
                            </div>
                        </div>
                        <div class="content">
                            <div class="img-container">
                                <a href="">
                                    <img src="../assets/VGWrEuP0Fmw.png" alt="">
                                </a>
                            </div>
                            <div class="text-conteiner">
                                @user_name
                            </div>
                        </div>
                        <div class="content">
                            <div class="img-container">
                                <a href="">
                                    <img src="../assets/euwEsqkAIRs.png" alt="">
                                </a>
                            </div>
                            <div class="text-conteiner">
                                @user_name
                            </div>
                        </div>
                        <div class="content">
                            <div class="img-container">
                                <a href="">
                                    <img src="../assets/q38qmxAPNcE.png" alt="">
                                </a>
                            </div>
                            <div class="text-conteiner">
                                @user_name
                            </div>
                        </div>
                        <div class="content">
                            <div class="img-container">
                                <a href="">
                                    <img src="../assets/2SvHcf0c1pU.png" alt="">
                                </a>
                            </div>
                            <div class="text-conteiner">
                                @user_name
                            </div>
                        </div>
                        <div class="content">
                            <div class="img-container">
                                <a href="">
                                    <img src="../assets/T5KPTbbK-_E.png" alt="">
                                </a>
                            </div>
                            <div class="text-conteiner">
                                @user_name
                            </div>
                        </div>
                        <div class="content">
                            <div class="img-container">
                                <a href="">
                                    <img src="../assets/dt3VbBT8NLk.png" alt="">
                                </a>
                            </div>
                            <div class="text-conteiner">
                                @user_name
                            </div>
                        </div>
                        <div class="content">
                            <div class="img-container">
                                <a href="">
                                    <img src="../assets/VGWrEuP0Fmw.png" alt="">
                                </a>
                            </div>
                            <div class="text-conteiner">
                                @user_name
                            </div>
                        </div>
                        <div class="content">
                            <div class="img-container">
                                <a href="">
                                    <img src="../assets/euwEsqkAIRs.png" alt="">
                                </a>
                            </div>
                            <div class="text-conteiner">
                                @user_name
                            </div>
                        </div>
                        <div class="content">
                            <div class="img-container">
                                <a href="">
                                    <img src="../assets/q38qmxAPNcE.png" alt="">
                                </a>
                            </div>
                            <div class="text-conteiner">
                                @user_name
                            </div>
                        </div>
                        <div class="content">
                            <div class="img-container">
                                <a href="">
                                    <img src="../assets/2SvHcf0c1pU.png" alt="">
                                </a>
                            </div>
                            <div class="text-conteiner">
                                @user_name
                            </div>
                        </div>
                        <div class="content">
                            <div class="img-container">
                                <a href="">
                                    <img src="../assets/euwEsqkAIRs.png" alt="">
                                </a>
                            </div>
                            <div class="text-conteiner">
                                @user_name
                            </div>
                        </div>
                        <div class="content">
                            <div class="img-container">
                                <a href="">
                                    <img src="../assets/q38qmxAPNcE.png" alt="">
                                </a>
                            </div>
                            <div class="text-conteiner">
                                @user_name
                            </div>
                        </div>
                    </div>

                    <!--        Story end-->

                    <!--        Content start-->

                    <div class="col-12 fs-1 d-flex text-white justify-content-center mt-3 mb-3">
                        <label class="for-you">Siz uchun</label>
                    </div>
                    <div class="row">
                        <div class="col-6 col-lg-4">
                            <div class="img-content">
                                <img src="../assets/jFgmFkk69_8.png" class="img-fluid" width="600" alt="...">
                            </div>
                            <div class="gap-3 mb-1 d-flex">
                                <img src="../assets/Photo(1).png" class="ms-2 d-flex" width="30" height="30" alt="">
                                <label class="user-name-md mt-1">@user_name </label>
                            </div>
                            <div class="fs-5 me-2 justify-content-end d-flex text-decoration-none">
                                <a class="content-icons text-white" href="">
                                    <i class="bi bi-heart me-2"></i>
                                </a>
                                <a class="content-icons text-white" href="../comment/index.html">
                                    <i class="bi bi-chat me-2"></i>
                                </a>
                                <a class="content-icons text-white" href="">
                                    <i class="bi bi-cursor me-2"></i>
                                </a>
                            </div>
                            <div class="content-text text-white ">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    aliquamLorem ipsum dolor sit amet, consectetur adipis
                                    elit ut aliquam</p>
                            </div>
                        </div>
                        <div class="col-6 col-lg-4">
                            <div class="img-content">
                                <img src="../assets/DD1BQLGwY.png" class="img-fluid" width="600" alt="...">
                            </div>
                            <div class="gap-3 mb-1 d-flex">
                                <img src="../assets/Photo(1).png" class="ms-2 d-flex" width="30" height="30" alt="">
                                <label class="user-name-md mt-1">@user_name </label>
                            </div>
                            <div class="fs-5 me-2 justify-content-end d-flex text-decoration-none">
                                <a class="content-icons text-white" href="">
                                    <i class="bi bi-heart me-2"></i>
                                </a>
                                <a class="content-icons text-white" href="../comment/index.html">
                                    <i class="bi bi-chat me-2"></i>
                                </a>
                                <a class="content-icons text-white" href="">
                                    <i class="bi bi-cursor me-2"></i>
                                </a>
                            </div>
                            <div class="content-text text-white ">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    aliquamLorem ipsum dolor sit amet, consectetur adipis
                                    elit ut aliquam</p>
                            </div>
                        </div>
                        <div class="col-6 col-lg-4">
                            <div class="img-content">
                                <img src="../assets/OPRmdg9g-hI.png" class="img-fluid" width="600" alt="...">
                            </div>
                            <div class="gap-3 mb-1 d-flex">
                                <img src="../assets/Photo(1).png" class="ms-2 d-flex" width="30" height="30" alt="">
                                <label class="user-name-md mt-1">@user_name </label>
                            </div>
                            <div class="fs-5 me-2 justify-content-end d-flex text-decoration-none">
                                <a class="content-icons text-white" href="">
                                    <i class="bi bi-heart me-2"></i>
                                </a>
                                <a class="content-icons text-white" href="../comment/index.html">
                                    <i class="bi bi-chat me-2"></i>
                                </a>
                                <a class="content-icons text-white" href="">
                                    <i class="bi bi-cursor me-2"></i>
                                </a>
                            </div>
                            <div class="content-text text-white ">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    aliquamLorem ipsum dolor sit amet, consectetur adipis
                                    elit ut aliquam</p>
                            </div>
                        </div>
                        <div class="col-6 col-lg-4">
                            <div class="img-content">
                                <img src="../assets/m9mzSO0qtLs(1).png" class="img-fluid" width="600" alt="...">
                            </div>
                            <div class="gap-3 mb-1 d-flex">
                                <img src="../assets/Photo(1).png" class="ms-2 d-flex" width="30" height="30" alt="">
                                <label class="user-name-md mt-1">@user_name </label>
                            </div>
                            <div class="fs-5 me-2 justify-content-end d-flex text-decoration-none">
                                <a class="content-icons text-white" href="">
                                    <i class="bi bi-heart me-2"></i>
                                </a>
                                <a class="content-icons text-white" href="">
                                    <i class="bi bi-chat me-2"></i>
                                </a>
                                <a class="content-icons text-white" href="">
                                    <i class="bi bi-cursor me-2"></i>
                                </a>
                            </div>
                            <div class="content-text text-white ">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    aliquamLorem ipsum dolor sit amet, consectetur adipis
                                    elit ut aliquam</p>
                            </div>
                        </div>
                        <div class="col-6 col-lg-4">
                            <div class="img-content">
                                <img src="../assets/4R9CcBdQTEg.png" class="img-fluid" width="600" alt="...">
                            </div>
                            <div class="gap-3 mb-1 d-flex">
                                <img src="../assets/Photo(1).png" class="ms-2 d-flex" width="30" height="30" alt="">
                                <label class="user-name-md mt-1">@user_name </label>
                            </div>
                            <div class="fs-5 me-2 justify-content-end d-flex text-decoration-none">
                                <a class="content-icons text-white" href="">
                                    <i class="bi bi-heart me-2"></i>
                                </a>
                                <a class="content-icons text-white" href="">
                                    <i class="bi bi-chat me-2"></i>
                                </a>
                                <a class="content-icons text-white" href="">
                                    <i class="bi bi-cursor me-2"></i>
                                </a>
                            </div>
                            <div class="content-text text-white ">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    aliquamLorem ipsum dolor sit amet, consectetur adipis
                                    elit ut aliquam</p>
                            </div>
                        </div>
                        <div class="col-6 col-lg-4">
                            <div class="img-content">
                                <img src="../assets/gbN1umhIUb8(1).png" class="img-fluid" width="600" alt="...">
                            </div>
                            <div class="gap-3 mb-1 d-flex">
                                <img src="../assets/Photo(1).png" class="ms-2 d-flex" width="30" height="30" alt="">
                                <label class="user-name-md mt-1">@user_name </label>
                            </div>
                            <div class="fs-5 me-2 justify-content-end d-flex text-decoration-none">
                                <a class="content-icons text-white" href="">
                                    <i class="bi bi-heart me-2"></i>
                                </a>
                                <a class="content-icons text-white" href="">
                                    <i class="bi bi-chat me-2"></i>
                                </a>
                                <a class="content-icons text-white" href="">
                                    <i class="bi bi-cursor me-2"></i>
                                </a>
                            </div>
                            <div class="content-text text-white ">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                    aliquamLorem ipsum dolor sit amet, consectetur adipis
                                    elit ut aliquam</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    name: "HomePage",
}
</script>

<style scoped>
.logo {
    font-size: 55px;
    font-weight: 400;
    line-height: 119px;
    font-family: Square Peg;
    background: linear-gradient(80deg,blue 15%, #FF0023 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.25);
}

.navbar-icons {
    list-style-type: none;
    justify-content: end;
}
/*Col-md-start*/
.logo {
    font-size: 70px;
}

.form-control-search {
    justify-content: center;
}

.dropdown-menu {
    margin-right: -15px;
    border-radius: 10px;
    border: 1px solid;
    background-color: #100A2C;
    border-left-color: #b01775;
    border-top-color: #912ca3;
    border-right-color: #7225ba;
    border-bottom-color: #5a2687;
}

.dropdown-menu > li {
    margin-bottom: -5px;
}

.dropdown-menu:before {
    content: "";
    position: absolute;
    border: 1px solid transparent;
    border-bottom-color: #100A2C;
    border-width: 11px;
    top: -20px;
    left: 160px;
    z-index: 1;
}

.dropdown-menu:after {
    content: "";
    position: absolute;
    left: 161px;
    top: -21px;
    border: solid transparent;
    border-width: 10px;
    border-bottom-color: #912ca3;
    z-index: 0;
}

@media screen and (min-width: 992px) {
    .form-control {
        width: 480px;
    }
}

/*Header end*/

/*profil start*/

.profil-img {
    background: radial-gradient(rgba(0, 0, 0, 0.15) 50%, transparent 0),
    radial-gradient(white 60%, transparent 0),
    linear-gradient(to bottom, #405DE6, #a30f0f);
    border: 3px solid;
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.user-online {
    color: #42FF00;
    margin-left: 65%;
    margin-top: -13%;
}

.name-profil {
    text-align: center;
}

.name-profil > p {
    color: #A4A4A4;
}

.follow {
    list-style-type: none;
    margin-left: -10%;
}

.follow > li {
    background-color: #282745;
    text-align: center;
    border-radius: 50px;
    width: 100px;
    height: 45px;
}

.menu {
    list-style-type: none;
}

.menu-li {
    border-left: 6px #405DE6 solid;
    background-color: #1B1D43;
    border-radius: 0 50px 50px 0;
    margin-left: -42px;
    padding-top: 4px;
    width: 110%;
    height: 55px;
}

.menu-list {
    margin-left: -36px;
}
@media screen and (min-width: 1200px) {
    .menu-route {
        font-size: 25px;
    }
}

@media screen and (min-width: 1400px) {
    .menu-li {
        width: 117%;
    }
}
/*Profil end*/

/*story start*/

.story-container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 5rem;
    grid-gap: 0.1rem;
    overflow-x: clip;
}

.story-container .content {
    display: grid;
    grid-gap: 0.5rem;
    text-align: center;
    position: relative;
    cursor: pointer;
    user-select: none;
    transition: all 0.2s ease-in;
}

.story-container .content:hover {
    transform: scale(1.1);
}

#img-container {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 2px #9797BD solid;
    background: radial-gradient(rgba(0, 0, 0, 0.15) 50%, transparent 0),
    linear-gradient(to top right, #100A2C, #100A2C);
}

.story-container .content .img-container {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: radial-gradient(rgba(0, 0, 0, 0.15) 50%, transparent 0),
    radial-gradient(white 60%, transparent 0),
    linear-gradient(to top right, #405DE6, #FD1D1D);
}

.story-container .content .img-container img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: circle(45%);
}

.story-container .content:last-child::after {
    content: '';
    position: absolute;
    width: 2rem;
    height: 100%;
    right: -2rem;
}

.story-container .content .text-conteiner {
    color: #A3A3A3;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 11px;
}

.text-conteiner {
    margin-left: -20px;
}
.blogim-story {
    margin-top: -10px;
    font-family: Sarala;
}
@media screen and (min-width: 768px) {
    .story-container {
        grid-auto-columns: 5rem;
        grid-gap: 2rem;
    }

    #img-container {
        width: 5rem;
        height: 5rem;
    }

    .story-container .content .img-container {
        width: 5rem;
        height: 5rem;
    }

    .text-conteiner {
        margin-left: 0px;
    }
}

/*Story end*/

/*Content start*/
.img-fluid {
    position: static;
    filter: none;
    margin-left: 0;
}

.for-you {
    font-family: Sarala;
    border: 3px #100A2C solid;
    border-bottom-color: #405DE6;
}

.img-user {
    border-radius: 50%;
}

.user-name {
    font-family: Roboto;
    font-size: 14px;
}

.three-dots {
    margin-top: -55px;
}

.dots {
    border: 3px #9797BD solid;
    border-radius: 50%;
    font-size: 30px;
    padding: 0 2px;
    color: #9797BD;
}

.img-content {
    text-align: center;
    margin: 10px 0;
}

.img-footer {
    height: 47px;
    margin-top: -5px;
    list-style-type: none;
    border-radius: 50px;
    border: 2px #495569 solid;
    background-color: #495569;
}

.follow-icon {
    width: 80px;
    border-radius: 50px;
    text-align: center;
    background-color: #89909c;
    border: 1px #89909c solid;
}

.content-text {
    font-size: 14px;
}
.content-icons {
    margin: -38px 0 0;
}
.user-name-md {
    font-size: 12px;
    color: #ACACAC;
    margin-left: -10px;
}

/*Content end*/

/*Footer start*/

.footer-col {
    font-size: 35px;
    text-align: center;
}

#pluss {
    margin: -26px -15px 0 -15px;
}

.post-plus {
    color: #262628;
    border-radius: 50px;
    width: 3.5rem;
    height: 3.5rem;
    background: radial-gradient(white, transparent 0),
    radial-gradient(white 60%, transparent 0),
    linear-gradient(to top right, #405DE6, #FD1D1D);
}

#footer {
    height: 78px;
    padding-top: 10px;
    background-color: #26293E;
    border: 1px #26293E solid;
}

/*Footer end*/
</style>