<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <img src="../assets/background-img.jpg" width="1920" height="1080" class="img-fluid"
                     alt="Welcome to our site">
            </div>
        </div>
        <div class="row">
            <div class="col-12 content pb-xxl-5">
                <router-link to="/" class="icon-back-next d-flex mt-3">
                    <i class="bi bi-chevron-left back-chevron d-flex"></i>
                    <i class="bi bi-circle back-circle"></i>
                </router-link>
                <h1 class=" mt-5 pt-5 pt-sm-0 mt-lg-3 mt-xxl-0">Kirish</h1>
                <h6 class="fs-6  mt-5">Xush kelibsiz!</h6>

                <div class="col mt-3" v-if="isLoginError">
                    <div class="alert alert-danger alert-dismissible fade show">
                        Email yoki Parol noto'g'ri
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>

                <form class="mx-2 mt-4" @submit.prevent="auth">
                    <div class="col-12 col-md-6 col-lg-6 mb-3 mx-auto">
                        <label for="exampleInputEmail1" class="form-label">Foydalanuvchi ismi yoki email</label>
                        <input
                            @input="checkToEmail"
                            v-model="form.email"
                            type="email"
                            class="form-control text-white"
                            :class="{'error-input': isWrongEmail}"
                            placeholder="david.morel@gmail.com"
                            id="exampleInputEmail1"
                            aria-describedby="emailHelp"
                        >
                    </div>
                    <div class="col-12 col-md-6 col-lg-6 mb-3 mx-auto">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6 parol mx-auto mb-3 ">
                        <a href="" class="text-decoration-none">Parolni unutdingizmi?</a>
                        <input
                            v-model="form.password"
                            type="password"
                            class="form-control mt-2 text-white"
                            placeholder="Parol"
                            id="exampleInputPassword1"
                        >
                    </div>
                    <div class="col-12 col-md-6 col-lg-6 submit mx-auto">
                        <button type="submit" class="btn btn-dark mt-3 fs-3 w-100">Kirish</button>
                    </div>

                </form>
                <div class="col-12 col-md-6 col-lg-6 register mx-auto text-white mt-5 pt-4">
                    <label>Ro’yxatdan o’tganmisiz?
                        <router-link to="/sign-up" class="text-decoration-none">
                            Ro’yxatdan o’tish
                        </router-link>
                    </label>
                </div>
                <div class="col-12 col-md-6 col-lg-6 logo-col mx-auto mt-3 mb-5 pb-4">
                    <label class="logo">Blogim.uz</label>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
import {mapActions} from "vuex";

export default {
    name: "LoginPage",
    methods: {
        ...mapActions(['fetchToken']),
      checkToEmail: function () {
        let regExp = /^[-\w.]+@[-\w.]+\.[-/w]+$/

        if (regExp.test(this.form.email)) {
          this.isWrongEmail= false
        } else {
          this.isWrongEmail = true
        }
      },
      auth(){
            this
                .fetchToken(this.form)
                .then(() => {
                    this.$router.push('/')
                })
                .catch(() => {
                    this.isLoginError = true
                })
        }
    },
    data() {
        return {
            isLoginError: false,
            form: {
                email: '',
                password: ''
            }
        }
    }
}
</script>

<style scoped>
.icon-back-next {
    margin-left: 1%;
}

.content > h1 {
    text-align: center;
    color: #fff;
    font-size: 36px;
}

.content > h6 {
    text-align: center;
    color: #9797BD;
}

.form-label {
    font-size: 13px;
    color: #9797BD;
}

.form-control {
    background-color: #0F111F;
}

.form-control, .btn-dark {
    height: 55px;
    border-radius: 12px;
}

.parol {
    font-size: 13px;
    color: #43A2FA;
    margin-top: -43px;
    text-align: end;
}

.submit {
    text-align: center;
}

.register, label {
    font-size: 14px;
}

.register, a {
    color: #43A2FA;
}

.logo-col {
    text-align: center;
}

.logo {
    font-size: 45px;
}

@media screen and (min-width: 768px) {
    .content > h1 {
        font-size: 50px;
    }
.error-input{
  border-color: #FE5656;
  color: #FE5656 !important;
}
}
</style>