<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <img src="../assets/background-img.jpg" width="1920" class="img-fluid" alt="...">
            </div>
        </div>
        <div class="row">
            <div class="col-12 content mt-5 text-white">
                <div class="row">
                    <div class="col-1">
                        <a href="#" class="icon-back-next d-flex mt-3" @click.prevent="onBackButtonPressed()">
                            <i class="bi bi-chevron-left back-chevron d-flex"></i>
                            <i class="bi bi-circle back-circle"></i>
                        </a>
                    </div>
                    <div class="col-11 logotip">
                        <label class="logo">Blogim.uz</label>
                    </div>
                </div>
                <h1>Xush kelibsiz !</h1>
                <p class="mt-3">Lorem ipsum dolor sit amet,</p>
                <p>consectetur adipiscing elit ut aliquam</p>

                <div class="col" v-if="isRegistrationError">
                    <div class="alert alert-danger alert-dismissible fade show">
                        Ro'yxatdan o'tishda xatolik ro'y berdi
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>

                <SignUpFirstPart v-if="isFirstPart" @onFormChange="changeFormValue"/>
                <SignUpSecondPart v-else @onFormChange="changeFormValue" :selected-country="form.country"/>

                <div class="col-12 col-md-6 col-lg-6 submit mx-auto mt-5 mb-5 pb-5 mt-xl-3">
                    <a
                        href="#"
                        class="btn btn-dark submit w-100 fs-xl-1"
                        :class="{disabled: hasErrors}"
                        role="button"
                        @click.prevent="onMainButtonPressed()"
                    >
                        {{ buttonText }}
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="currentColor"
                            class="bi bi-arrow-right ms-1"
                            viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
                            />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import SignUpFirstPart from "@/components/SignUpFirstPart";
import SignUpSecondPart from "@/components/SignUpSecondPart";
import {mapActions, mapGetters} from "vuex";

export default {
    name: "SignUpPage",
    components: {SignUpSecondPart, SignUpFirstPart},
    computed: {
        ...mapGetters(['getCountries']),
        buttonText() {
            return this.isFirstPart ? 'Keyingisi' : 'Ro\'yxatdan o\'tish'
        },
        hasErrors() {
            return !this.isFirstPart && this.form.password1 !== this.form.password2
        },
    },
    data() {
        return {
            isFirstPart: true,
            isRegistrationError: false,
            form: {
                email: '',
                password1: '',
                password2: '',
                password: '',
                isMale: true,
                country: null,
                birthday: '',
                phone: '',
                city: '',
                familyName: '',
                givenName: '',
            },
        }
    },
    methods: {
        ...mapActions(['pushUser', 'fetchCountries', 'fetchToken']),
        onBackButtonPressed() {
            if (this.isFirstPart) {
                this.$router.push('/')
            } else {
                this.isFirstPart = true
            }
        },
        onMainButtonPressed() {
            if (this.isFirstPart) {
                this.isFirstPart = false
            } else {
                this.createUser()
            }
        },

        createUser() {
            this.form.password = this.form.password1

            this
                .pushUser(this.form)
                .then(() => {
                    this
                        .fetchToken({
                            email: this.form.email,
                            password: this.form.password
                        })
                        .then(() => {
                            this.$router.push('/')
                        })
                })
                .catch(() => {
                    this.isRegistrationError = true
                })
        },
        changeFormValue(eventObject) {
            this.form[eventObject.name] = eventObject.value
        }
    },
    mounted() {
        this.fetchCountries()
            .then(() => {
                for (let country of this.getCountries) {
                    if (country.name === "O'zbekiston") {
                        this.form.country = country['@id']
                    }
                }
            })
    }
}
</script>

<style scoped>


@media screen and (min-width: 1200px) {
    .logo {
        font-size: 75px;
    }

    .content > h1 {
        font-size: 40px;
    }

    .content > p {
        font-size: 20px;
    }

    .btn-dark {
        font-size: 20px;
    }
}
</style>