<template>
    <div class="col-12 content mt-5 text-white">
        <div class="col-12 icons mt-3">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="13"
                 height="13"
                 fill="currentColor"
                 class="bi bi-circle mx-1"
                 viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            </svg>
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="13"
                height="13"
                fill="currentColor"
                class="bi bi-circle-fill"
                viewBox="0 0 16 16"
            >
                <circle cx="8" cy="8" r="8"/>
            </svg>
        </div>
        <form class="mt-3">
            <div class="col-12 col-md-6 col-lg-6 mb-3 mx-auto">
                <label for="exampleInputEmail1" class="form-label">
                    Email
                    <span class="text-primary">*</span>
                </label>
                <input
                    @input="$emit('onFormChange', {name: 'email', value: $event.target.value})"
                    type="email"
                    class="form-control"
                    placeholder="Email address"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                >
            </div>
            <div class="col-12 col-md-6 col-lg-6 mb-3 mx-auto">
                <label for="exampleInputPassword1" class="form-label">
                    Nomer
                    <span class="text-primary">*</span>
                </label>
                <input
                    @input="$emit('onFormChange', {name: 'phone', value: $event.target.value})"
                    type="number"
                    class="form-control"
                    placeholder="+998 99-001-00 00"
                    id="exampleInputPassword1"
                >
            </div>
            <div class="row">
                <div class="col-6 form mx-auto">
                    <label class="form-label">Davlat<span class="text-primary ms-1">*</span></label>
                    <select
                        @input="$emit('onFormChange', {name: 'country', value: $event.target.value})"
                        class="form-control text-white"
                        list="datalistOptions"
                        id="exampleDataList"
                    >
                        <option
                            v-for="country of getCountries"
                            v-bind:key="country.id"
                            :value="country['@id']"
                            :selected="country['@id'] ===selectedCountry"
                        >
                            {{ country.name }}

                        </option>
                    </select>
                </div>
                <div class="col-6 form mx-auto mt-md-2">
                    <label class="form-label">Shahar<span class="text-primary ms-1">*</span></label>
                    <input
                        @input="$emit('onFormChange', {name: 'city', value: $event.target.value})"
                        type="text"
                        class="form-control"
                        placeholder="Shahar nomi"
                        aria-label="Last name"
                    >
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6 mb-3 mt-3 mx-auto">
                <label for="exampleInputPassword2" class="form-label">
                    Yangi parol
                    <span class="text-primary me-1">*</span>
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="12"
                        height="12"
                        fill="currentColor"
                        class="bi bi-question-circle mb-1"
                        viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path
                            d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                    </svg>
                </label>
                <input
                    @input="$emit('onFormChange', {name: 'password1', value: $event.target.value})"
                    v-model="password1"
                    type="password"
                    class="form-control"
                    placeholder="************"
                    id="exampleInputPassword2"
                >
            </div>
            <div class="col-12 col-md-6 col-lg-6 mb-3 mx-auto">
                <label for="exampleInputPassword3" class="form-label">
                    Parolni qaytaring
                    <span class="text-primary">*</span>
                </label>
                <input
                    @input="$emit('onFormChange', {name: 'password2', value: $event.target.value})"
                    v-model="password2"
                    class="form-control"
                    :class="{'error-input' : password1 !== password2}"
                    type="password"
                    placeholder="************"
                    id="exampleInputPassword3"
                >
            </div>
            <div v-if="password1 !== password2" class="col-12 col-md-6 col-lg-6 mb-xl-5 error text-danger mx-auto">
                <p>Xato parol tekshiring.</p>
            </div>
        </form>
    </div>
</template>

<script>
import {mapGetters} from "vuex";

export default {
    name: "SignUpSecondPart",
    emits: ['onFormChange'],
    props: {
      selectedCountry: String
    },
    data() {
        return {
            password1: '',
            password2: '',
        }
    },
    computed: {
        ...mapGetters(['getCountries'])
    },
}
</script>

<style scoped>
.form-control {
    background-color: #0F111F;
    color: #fff;
}

label, .error {
    font-size: 12px;
}

.error-input {
    border-color: #FE5656;
}

@media screen and (min-width: 768px) {
    .form {
        width: 51%;
    }

}

</style>