<template>
    <div class="col-12 icons mt-3">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="13"
            height="13"
            fill="currentColor"
            class="bi bi-circle-fill mx-1"
            viewBox="0 0 16 16"
        >
            <circle cx="8" cy="8" r="8"/>
        </svg>
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="13"
            height="13"
            fill="currentColor"
            class="bi bi-circle"
            viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        </svg>
    </div>
    <form>
        <div class="row mt-5 mt-xl-3">
            <div class="col-6 form mx-auto">
                <label class="form-label">Ism<span class="text-primary">*</span></label>
                <input
                    @input="$emit('onFormChange', {name: 'givenName', value: $event.target.value})"
                    type="text"
                    class="form-control"
                    placeholder="Shaxbozbek"
                    aria-label="First name"
                >
            </div>
            <div class="col-6 form mx-auto mt-xl-3">
                <label class="form-label">Familya<span class="text-primary">*</span></label>
                <input
                    @input="$emit('onFormChange', {name: 'familyName', value: $event.target.value})"
                    type="text"
                    class="form-control"
                    placeholder="Eronov"
                    aria-label="Last name"
                >
            </div>
            <div class="col-12 inputdate mx-auto mt-3 mb-3 ">
                <label class="form-label">Tug’ilgan kun <span class="text-primary">*</span></label>
                <input
                    @input="$emit('onFormChange', {name: 'birthday', value: $event.target.value})"
                    type="date"
                    class="form-control w-100"
                    placeholder="06.12.1992"
                    aria-label="Last name"
                >
            </div>
            <div class="col-12 col-xl-6 mx-auto">
                <label class="form-label ms-3 ms-xl-0">Jins<span class="text-primary">*</span></label>
            </div>

            <div class="row mx-auto">
                <div class="col-6 mx-auto">
                    <div class="radio form-check" id="flexRadioDefault">
                        <input
                            @click="$emit('onFormChange', {name: 'isMale', value: true})"
                            class="form-check-input"
                            type="radio"
                            name="flexRadioDefault"
                            id="flexRadioDefault1"
                            checked
                        >
                        <label class="mt-2 ms-3" for="flexRadioDefault1">
                            Erkak
                        </label>
                    </div>
                </div>
                <div class="col-6 mx-auto">
                    <div class="radio form-check">
                        <input
                            @click="$emit('onFormChange', {name: 'isMale', value: false})"
                            class="form-check-input"
                            type="radio"
                            name="flexRadioDefault"
                            id="flexRadioDefault2">
                        <label class="mt-2 ms-3" for="flexRadioDefault2">
                            Ayol
                        </label>
                    </div>
                </div>
            </div>
            <div class="row d-block mb-5">
                <div class="col-12 col-md-6 col-lg-6 register fs-6 mx-auto mt-5 pt-5 pt-xl-0">
                    <label>Ro’yxatdan o’tganmisiz?
                        <router-link to="#"
                                     class="text-decoration-none">Kirish
                        </router-link>
                    </label>
                </div>
            </div>
        </div>
    </form>
</template>

<script>
export default {
    name: "SignUpFirstPart",
    emits: ['onFormChange'],

}
</script>

<style scoped>
.inputdate > input {
    height: 40px;
    border-radius: 7px;
    background-color: #0F111F;
    color: #616775;
}

.radio {
    border: 1px #D9D9D9 solid;
    border-radius: 7px;
    height: 40px;
}

#flexRadioDefault1, #flexRadioDefault2 {
    margin: 9px 0 0 1px;
    border: 1px blue solid;
}


@media screen and (min-width: 1200px) {
    .form {
        width: 51%;
    }

    .inputdate {
        width: 51%;
    }

    .radio {
        width: 51%;
    }

    #flexRadioDefault {
        margin-left: 50%;
    }
}
</style>