<template>
    <router-view/>
</template>

<script>

import {mapActions, mapGetters} from "vuex";

export default {
    name: 'App',
    computed: {
        ...mapGetters(['isAuthorized', "getRefreshToken"])
    },
    methods: {
        ...mapActions(['fetchToken', 'fetchAboutMe', 'refreshToken']),
        checkTokenActivity() {
            if (this.isAuthorized) {
                this.fetchAboutMe()
                    .catch(() => {
                        this.refreshTokenOrRedirectToLogin()
                    })
            }
        },
        refreshTokenOrRedirectToLogin() {
            this
                .refreshToken({refreshToken: this.getRefreshToken})
                .catch(() => {
                    this.$router.push('/login')
                })
        }
    },
    mounted() {
        this.checkTokenActivity()
    }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@500&family=Square+Peg&display=swap');

body {
    background-color: #0F111F;
}

.img-fluid {
    position: absolute;
    filter: brightness(50%);
    margin-left: -12px;
}

.icon-back-next {
    margin-left: 10%;
    text-decoration: none;
}

.back-circle {
    color: #9797BD;
    margin-left: -25px;
    font-size: 35px;
}

.back-chevron {
    color: #fff;
    padding-top: 15px;
    font-size: 18px;
}

.content {
    position: relative;
    font-family: Roboto;
    background-color: #0F111F;
    border-radius: 15px 15px 0px 0px;
    margin-top: 10%;
}

.register, .submit {
    text-align: center;
}

.btn-dark {
    background-color: #26293E;
}

.logo {
    font-family: Square Peg;
    font-size: 45px;
    background: linear-gradient(104.28deg, #5B6DEF 2.08%, #FF0023 108.89%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logotip {
    text-align: center;
}

.logo {
    margin-right: 10%;
}

.content > h1 {
    text-align: center;
    font-size: 29px;
}

.content > p {
    text-align: center;
    font-size: 14px;
}

.icons {
    text-align: center;
}

.form > .form-control {
    height: 40px;
    color: #fff;
    background-color: #0F111F;
    border: 1px #D1D1D6 solid;
}
</style>
